.body{background-color: white;}

header{background: black; margin-top:0px;}


body {margin:0;}
ul {list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: black;
  position: fixed;
  top: 0;
  width: 100%;
}

.youtube{margin-top: 5em;}
.li_1 {
  float: right; font-size: 1vw; font-family:verdana;
}

.li_2 {
  float: left; font-size: 18px;
}

.section_1{height: 70vh; width: 100%;}

.section_2{height: 110vh; width: auto;}



.li_1 a {
  display: block;
  color: white;
  text-align: center;
  padding: 1vw 1.5vw;
  text-decoration: none;
}

.svg_1 a {color: white;}



.li_2 a {
  display: block;
  color: white;
  text-align: center;
  padding: 0.3vw 1.5vw;
  text-decoration: none;}

.li_1 a:hover:not(.active) {
  background-color:#929292;  color:white; transition: 1000ms; 
}

.li_2 a:hover:not(.active) {
  background-color:black; transition: 500ms;}

.svg_1 (.active){color:#29E1BD; transition: 1000ms;}



.img_1 {width: 20vw; height: auto;
  text-align: center; margin-bottom: auto; margin-top: auto;vertical-align: middle;
  text-decoration: none;}

.active {
  background-color: #bebebe;
}

.svg_1{width:2vw; height: auto;}

.svg_2{width:3.5vw; height: 2.5vw;}

.svg_2:hover {color: red;}

.footer-company{font-size:1.2vw; font-family:verdana; color: white;}

.footer-company-about{font-size:1.2vw; font-family:verdana; color: white;}

.footer{background: black; width: auto; height:auto; font-size: 16px; font-weight: 500; padding: 3vh 50px; margin-bottom: auto;}




.footer .footer-right{ display: inline-block; vertical-align: top; width: 100%; height: auto; margin-bottom: auto;}

.footer .footer-company-about{line-height: 6vh; color: white; font-size: 1.2vw; font-weight: normal; margin: 0; font-family: verdana; float: right; margin-bottom: 0; margin-right: 5vw;}

.container_2 {
  position: relative;
  overflow: hidden;
  width:auto; margin-left: 0px;margin-top: 14.5vh;
}


